body {
    font-family: "Roboto", sans-serif;
    color: rgb(199, 190, 190);
    line-height: 1.7;
    background-color: #9cb4ac;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222;
}

/*Navbar*/
.container-fluide {
    padding-left: 30px;
    padding-right: 0;
}

.navbar {
    padding-top: 2%;
    padding-left: 2%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
}

.navbar a {
    color: rgb(199, 190, 190);
}

.navbar button {
    background-color: rgb(199, 190, 190);
}

nav .navbar-brand {
    width: 70%;
    padding-left: 2%;
}

.navbar-toggle {
    width: 10%;
    border: 0;
    margin-right: 10px;
}

/*Navbar Posts*/
#navbarNav a {
    color: #9cb4ac
}

img {
    width: 80%;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.6);
    width: 40px;
    height: 70px;
    margin: auto;
}

/* Footer */
footer {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/restaurant.jpg);
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.75);
    width: 60%;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}