{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<style>
    .pt-5 {
        background-color: #9cb4ac;
        padding: 10%;
    }
    
</style>
<div class="container pt-5">


    <form action="" method="post">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" class="">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}

        </div>
        {% endfor %}
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <span class="<i class="fas fa-check-circle"></i></span>Edit
            </button>
            <a href="{% url 'exotic_cuisine:posts' %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}