
{% extends 'base.html' %}

{% block content %}
<style>
    .mt-4 {
        background-color: #9cb4ac;
        padding: 2%;
        width: 30%;
    }
    .d-flex a {
        background-color: black;
        color: #9cb4ac;
        width: 70px;
        margin: 2%;
        padding: 2%;
    }
</style>

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="shadow p-4 mb-5 bg-body rounded">
    <h13>Register</h3>
    <br />
    <form action="{% url 'exotic_cuisine:register' %}" method=POST>
        {% csrf_token %}

        {{ form.as_p }}

        <br /><br />
        <input type="submit" value="Submit" class="btn btn-secondary">

    </form>
    <div class="mt-4">
        <h6>Already have an account?</h6>
        <div class="d-flex justify-content-center links">
            <a href="{% url 'exotic_cuisine:login' %}" class="nav-link">Login</a>
        </div>
    </div>
</div>
<br /><br />
{% endblock %}
