<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Exotic Cuisine</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'exotic_cuisine:posts' %}" class="nav-link"
              >Manag Posts</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a href="{% url 'exotic_cuisine:logout' %}" class="nav-link"
              >Logout</a
            >
          </li>
          {% else %}
          <li class="nav-item active">
            <a href="{% url 'exotic_cuisine:login' %}" class="nav-link"
              >Login</a
            >
          </li>
          {% endif %}
          <li class="nav-item active">
            <a href="{% url 'exotic_cuisine:register' %}" class="nav-link"
              >Register</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
